<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.typesafe.com/config/Hocon" 
       class = "com.typesafe.config.hocon.HoconPackage"
       genModel = "model/generated/Hocon.genmodel" /> 
	
  </extension>



</plugin>
